.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.container__small-card {
  border: solid 1px white;
  width: 700px;
  margin-bottom: 15px;
}
.small-card__photo > img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-card__title > h1 > a {
  text-decoration: none;
}

.container__small-card-separator {
  margin-top: 10px;
}
