<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<article class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://a.ltrbxd.com/resized/sm/upload/a7/4r/al/mc/lotr-return-of-the-king-1200-1200-675-675-crop-000000.jpg?v=2a233b4d9f"
      cardTitle="Senhor dos Anéis: O Retorno do Rei"
      cardDescription="Novo filme da trilogia Senhor dos Anéis é lançada nacionalmente em todos os cinemas"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</article>
